.about {
  letter-spacing: 0.055em;

  background-color: $color-gray-light;

  @extend %about-posts;


  &__conteiner {
    display: grid;

    @extend %container;

    @include lg-min {
      gap: 100px;
      grid-template-columns: 1fr 271px;
    }

    @include lg-md {
      gap: 40px;
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      gap: $gap;
      grid-template-columns: 1fr 236px;
    }
    @include sm {
      gap: $gap;
      grid-template-columns: 1fr;
    }
  }

  &__content {
    
    & p {
      margin: 18px 0;

      color: $color-gray;

      @include lg-min {
        font-size: 1.125rem;
      }

      &:first-of-type {
        position: relative;
        margin-top: -5px;

        &::after {
          position: absolute;
          top: 0;
          right: -50px;

          width: 2px;
          height: 200px;

          content: "";

          background-color: rgba(99, 117, 136, 0.1);
          @include lg-min {
            right: -50px;
          }

          @include lg-md {
            right: -20px;
          }

          @include md-sm {
            right: -10px;
          }
          @include sm {
            display: none;
          }

        }
      }

      &:last-of-type {
        margin: 0;
      }
    }
  }

  &__image {
    display: grid;
    align-content: center;

    justify-items: center;

    & img {
      max-width: 100%;
      max-height: 480px;
    }
  }
}
