.skills {
  @include sm-min {
    padding: 10px 10px 40px;
  }
  @include sm {
    padding: $gap;
  }

  &__conteiner {
    display: grid;

    min-height: 100vh;
    padding-bottom: $gap;

    @include lg-min {
      grid-gap: $gap / 2 ;
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-gap: $gap / 2 ;
      grid-template-areas: "a1 a1 a2 " "a3 a4 a4" "a5 a5 a6 " "a7 a8 a6" "a7 a9 a9";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-gap: $gap / 2 ;
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-gap: $gap;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
      grid-template-columns: 1fr;
    }

    @media (min-height: 691px) {
      grid-auto-rows: calc(33.33333vh - #{$gap} * 0.66666);
    }
    @media (max-height: 690px) {
      grid-auto-rows: 220px;
    }
  }


  &__button {
    display: flex;
    justify-content: center;
  }
}
